
$menu-width = 120px
$menu-height = $menu-width
$menu-margin-left = $menu-width / -1
$menu-li-width = $menu-width / 4
$menu-li-a-bottom = $menu-width / 8

$menu-switch-width = $menu-width * 2 * 0.2

@keyframes breathing {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.menu-switch
    position: fixed
    background-color: #fff
    width: $menu-switch-width
    height: $menu-switch-width
    border-radius: 50%
    left: 50%
    bottom: $menu-switch-width * -.5
    margin-left: $menu-switch-width * -.5
    border: 2px solid #F55858
    z-index: 50
    box-sizing: border-box
    .left-hyphen, .right-hyphen
        animation: breathing 2s both
        animation-iteration-count: infinite
        display: inline-block
        position: absolute
        height: 2px
        text-align: center
        top: $menu-switch-width * .25
        width: $menu-switch-width * .24
        background-color: #F55858
        margin-top: 0
        transition: all .2s linear
    .left-hyphen
        left: $menu-switch-width * .26
        transform-origin: 100% 50%
        transform: rotateZ(-15deg)
    .right-hyphen
        right: $menu-switch-width * .26
        transform-origin: 0% 50%
        transform: rotateZ(15deg)
    &.active
        .left-hyphen
            margin-top: $menu-switch-width * .05
            transform: rotateZ(15deg)
        .right-hyphen
            margin-top: $menu-switch-width * .05
            transform: rotateZ(-15deg)
.lunette-menu
    position: fixed
    left: 50%
    bottom: $menu-height * -1
    width: $menu-width * 2
    height: $menu-height * 2
    background-color: #fff
    color: #313131
    transition: all .3s ease
    margin-left: $menu-margin-left
    border-radius: 50%
    overflow: hidden
    &.show
        transform: translateX(200px)
    .list-ul
        li
            position: absolute
            top: 0
            left: 50%
            width: $menu-width
            height: $menu-height
            font-size: 14px
            font-weight: 200
            text-align: left
            text-indent: 1px
            line-height: 15px
            color: #7f8c8d
            transform-origin: 100% 100%
            a
                display: flex
                // width: $menu-width * 2
                // height: $menu-height * 2
                position: absolute
                justify-content: center
                align-items: center
                right: 50%
                bottom: -16px
                text-align: center
                color: #fff
                font-size: 25px
                transform: translate3d(32px, -32px, 0) skewX(-54deg) rotateZ(-72deg)
            &:nth-child(odd)
                background-color: red
            &.icon-hui
                transform: translateX($menu-width / -1) skewX(54deg)
                background-color: #dd3067
            &.icon-extension
                transform: translateX($menu-width / -1) rotateZ(36deg) skewX(54deg)
                background-color: #CA9C9E
            &.icon-donate
                transform: translateX($menu-width / -1) rotateZ(36 * 2deg) skewX(54deg)
                background-color: #dd3067
            &.icon-feedback
                transform: translateX($menu-width / -1) rotateZ(36 * 3deg) skewX(54deg)
                background-color: #CA9C9E
            &.icon-other
                transform: translateX($menu-width / -1) rotateZ(36 * 4deg) skewX(54deg)
                background-color: #dd3067

.menu-anim-transition
    transform-origin: 50% 100%
    transition: all 150ms linear
    transform: scale(0.1)
.menu-anim-enter
    transform: scale(1)
.menu-anim-leave
    transform: scale(0.1)
