.nav-drawer-list
    position: absolute
    top: 0
    bottom: 0
    width: 200px
    height: 550px
    background-color: #fff
    color: #313131
    transition: all .3s ease
    &.show
        transform: translateX(200px)
    .list-ul
        clear: both
        // border-top: 1px solid #d4d4d4
        overflow: hidden
        padding-top: 0
        li
            font-size: 16px
            font-weight: 200
            padding: 9% 24px
            text-align: center
            text-indent: 1px
            line-height: 15px
            letter-spacing: 5px
            color: #7f8c8d
            cursor: pointer
            border-bottom: 0.5px solid #E8E8E8
            &:last-child
                margin-bottom: 50px
                border-bottom: none
            &:before
                color: #2c3e50
            &:hover
                background-color: #eee
            &.active
                color: #F54F4F
        .line
            border-top: 1px solid #d4d4d4
        a
            display: block
            color: #313131
