@import '../color.styl'

.options-body, .options-html
    background-color #fff
    width: 100%

#app
    width: 100%
    padding: 0 60px

.setting-header
    position fixed
    top 0
    left: 0
    width: 100%
    height 100px
    z-index 100
    background-color: rgba(234, 101, 145, 0.68)
    box-shadow 0 2px 2px 2px #ddd

.setting-container
    position: relative
    width: 100%
    display: flex
    padding-top: 10px
    font-size: 14px
    color: $gray9
    margin-top: 100px
    .setting-nav
        width: 160px
        margin-right: 20px
        border-right: 1px solid #eee
        font-size: 13px
        .nav-item
            padding: 15px 0 0 20px
        .nav-item-sub
            padding: 5px 0 0 20px
            &.active
                color: $hui-pink
    .setting-area
        flex: 1
        padding-bottom: 20px
        .btn, .checkbox
            min-width: 80px
            background-color: $graya
            color: white
            padding: 6px 15px
            display: inline-block
            text-align: center
            cursor: pointer
            &[data-key="cache-clear"], &[data-key="reset-default"]
                background-color: $hui-danger
        .checkbox
            border-right 1px solid white
            &.active
                background-color: $hui-pink
        .switcher
            width: 30px
            height: 30px
            background-color: $graya
            border: 2px solid #ddd
            padding: 6px 15px
            display: inline-block
            text-align: center
            cursor: pointer
            &.active
                background-color: $hui-pink
        .radio
            color: white
            display: inline-block
            background-color: $graya
            min-width: 10px
            border-right 1px solid white
            padding: 6px 15px
            cursor: pointer
            &.active
                background-color: $hui-pink
        .item
            padding: 15px 0 0 10px
            .item-lable
                color: $gray6
                font-size: 1.4rem
        .item-sub
            padding: 5px 0 0 30px
            .item-sub-label
                font-size: 1.2rem
                span
                    background-color: #BFBCBD
                    color: white
                    font-size: 12px
                    padding: 2px 4px
                    border-radius: 5px
                    margin-left: 2px
            .item-sub-wrapper
                margin: 10px 0









