$color-success = #E07A9A
$color-error = #A90000
$color-warning = #FFBB6E
$color-info = #86a4d5

@keyframes anim-in {
  0% {
    width: 0
  }
  100% {
    width: 100%
  }
}

@keyframes fly-down {
  0% {
    top: -100%
  }
  100% {
    top: 0
  }
}
@keyframes fly-up-away {
  0% {
    top: 0
  }
  100% {
    top: -100%
  }
}

// Toast Progress Bar Transition
.countdown-transition
    width 0%
.countdown-enter
    animation: anim-in 3s both
.countdown-leave
    width 0%

// Label of Toast Transition
.fly-down-transition
    top: 0
.fly-down-enter
    animation fly-down .5s both
.fly-down-leave
    animation fly-up-away .5s both

#toast
    position fixed
    margin 0 auto
    width 600px
    margin 0
    height 60px
    line-height 60px
    z-index 200
    .toast-bg, .countdown-timer
        position absolute
        height 60px
        top 0
        left 0
        // background-color #fff
        width 100%
    .countdown-timer
        width 0%
        background-color #FFAEC7
        z-index 5
        height: 2px
    .toast-wrap
        position relative
        width 60%
        margin 0 20%
        height 60px
        color #FFAEC7
        z-index 10
        &.toast-success
            background-color $color-success
        &.toast-error
            background-color $color-error
        &.toast-warning
            background-color $color-warning
        &.toast-info
            background-color $color-info
        .toast-icon
            font-size 12px
        .toast-label
            text-align center
            font-size 20px
            color #DD3067

