@import './common.styl'

.about-container
    position: relative
    width: 100%
    .sec-item
        margin: 0 auto
        width: 80%
        display: none
        &.sec-about-hui
            display: block
