@import './common.styl'

body, html
    background-color #eee
    font-size 12px
    font-family ubuntu, helvetica, arial
    width $popup-width
    // height 100%
    // overflow hidden /* this is important to prevent the whole page to bounce */
    margin 0 auto

#app
    position relative
    width $popup-width
    // height $popup-height
    overflow-x hidden
    background-color #fff
    margin-top 60px
.home
    position relative
    width 100%
    // height 100%
    margin 0 auto
    text-align center
    vertical-align middle
    margin-top 60px !important
.mask
    position absolute
    width 100%
    height 100%
    margin 0 auto
    text-align center
    vertical-align middle
    background-color #fff
    opacity 1
    -webkit-transition opacity .2s linear
    transition opacity .2s linear
    &.hide
        opacity 0
    .loading
        width 100px
        height auto
        position absolute
        top 50%
        margin-top -50px
        margin-left -50px

.clearfixbefore, .clearfixafter
    content ''
    display block
    height 0
    overflow hidden
.clearfixafter
    clear both

