html, body
    border: 0
    font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif
    line-height: 1.5
    margin: 0
    padding: 0

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video
    border: 0
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label
    border: 0
    font-size: 100%
    vertical-align: baseline
    margin: 0
    padding: 0

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video
    display: block

table
    border-collapse: separate
    border-spacing: 0
    caption, th, td
        text-align: left
        vertical-align: middle

li
    list-style: none
a
    text-decoration: none
a img
    border: 0
:focus
    outline: 0
*
    -webkit-box-sizing: border-box
textarea
    resize: none
    -webkit-appearance: none
input
    -webkit-appearance: none
select
    -webkit-appearance: none
    background-color: #fff

$popup-width = 600px
$popup-height = 550px

html
  -ms-touch-action: none

body,ul,li
  padding: 0
  margin: 0
  border: 0

body, html
    background-color: #eee
    font-size: 12px
    font-family: ubuntu, helvetica, arial
    width: $popup-width
    height: $popup-height
    // overflow: hidden /* this is important to prevent the whole page to bounce */
    margin: 0 auto

#app
    position: relative
    width: $popup-width
    height: 100%
    overflow-x: hidden
    background-color: #fff
.home
    position: relative
    width: 100%
    // height: 100%
    margin: 0 auto
    text-align: center
    vertical-align: middle
    margin-top: 60px !important
.mask
    position: absolute
    width: 100%
    height: 100%
    margin: 0 auto
    text-align: center
    vertical-align: middle
    background-color: #fff
    opacity: 1
    -webkit-transition: opacity .2s linear
    transition: opacity .2s linear
    &.hide
        opacity: 0
    .loading
        width: 100px
        height: auto
        position: absolute
        top: 50%
        margin-top: -50px
        margin-left: -50px

.clearfix:before, .clearfix:after
    content: ''
    display: block
    height: 0
    overflow: hidden
.clearfix:after
    clear: both

