.slide-paging
    width 1200px
    position relative
    overflow-x hidden

@keyframes page-in-visible {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-600px)
    }
}
@keyframes page-in-away {
    0% {
        transform: translateX(-600px)
    }
    100% {
        transform: translateX(0)
    }
}
.page-transition
    overflow hidden
    transition all .2s linear
    z-index 40
    transform translateX(0)
.page-enter
    animation page-in-visible .4s forwards
.page-leave
    animation page-in-away .4s forwards

.home
    margin-top: 60px
.hui-list
    position relative
    background-color #fff
    width 600px
    float left
    z-index 20
    li
        position relative
        border-bottom 1px solid #eee
        padding-bottom 10px
        &:hover
            .sns
                display block
                opacity 1
                transition all .2s ease-in
        .sns-tool
            box-sizing border-box
            display inline-block
            font-size 12px
            color #9d9d9d
            text-align left
            width 100%
            padding-left 15px
            .summary
                width 120px
                display inline-block
                .merchant-name
                    text-align left
                .update-time
                    text-align right
                    float right
            .sns-numbers
                text-align center
                display inline-block
                margin-left 10px
                .sns-item
                    display inline-block
                .progress
                    position relative
                    width 80px
                    height 2px
                    margin 0 5px
                    border-radius 2px
                    display inline-block
                    background-color lightgray
                    .progress-bar-active
                        position relative
                        background-color #EA6591
                        height 2px
                        width 50%
                        transition all .2s linear
                    .progress-anchor-at
                        position absolute
                        top -8px
                        left 50%
                        width 4px
                        margin-left -4px
                        border-width 4px
                        border-style solid
                        border-color transparent
                        border-top-color #EA6591
                        transition all .2s linear
                .icon
                    width 15px
                    height auto
                    display inline-block
                    margin 0 3px
                    vertical-align middle
                    &.icon-cai
                        margin-left 0
                .number
                    height 15px
                    margin 0 5px
            .revealer
                float right
                padding-right 20px
                display inline-block
                text-align right
                color #7392B5
        .hui-item
            position relative
            width 100%
            display flex
            display -webkit-flex
            .cover-img
                margin 15px
                width 120px
                height 120px
                z-index 1
                background-color #fff
                // border 1px solid #eee
                img
                    position relative
                    width 100%
            .item-brief
                flex 1
                position relative
                .info
                    position absolute
                    left 0
                    top 0
                    width 100%
                    padding-top 15px
                    bottom 15px
                    .feed-info
                        width 100%
                        line-height 35px
                        height 35px
                        vertical-align middle
                        text-align left
                        margin-right 10px
                        white-space nowrap
                        .title
                            width calc(100% - 100px)
                            font-size 15px
                            line-height 35px
                            display inline-block
                            text-overflow ellipsis
                            overflow hidden
                            font-weight bold
                        .feed-logo
                            height 35px
                            border 1px solid #eee
                    .item-exp
                        font-size 13px
                    .item-normal
                        font-size 16px
                    .reason
                        line-height 34px
                        padding-left 0
                    .price-cut
                        position relative
                        height 45px
                        margin 5px 0 0 0
                        background-color #f6f6f6
                        border none
                        text-align left
                        display flex
                        display -webkit-flex
                        -webkit-align-items center
                        .highlight-area
                            position relative
                            top 0
                            left 0
                            background-color #F9DEE7
                            width 40%
                            padding-left 20px
                            height 45px
                            line-height 45px
                            white-space nowrap
                            &::after
                                content: ''
                                position: absolute
                                top: 0
                                left: 100%
                                border-width: 22.5px
                                border-style: solid
                                border-color: transparent
                                border-left-color: #F9DEE7
                                border-left-width: 11px
                        .reason-item
                            display inline-block
                            margin 0 5px
                        .price
                            color #DD3067
                            font-size 22px
                            min-width 60px
                        .formatted-rcmd-reason
                            color #717171
                            height 45px
                            line-height 45px
                            flex 1
                            padding-right 15px
                            padding-left 20px
                            overflow hidden
                            text-overflow ellipsis
                            position relative
                            white-space nowrap
                            em
                                padding 0 3px
                            span
                                padding 0 1px
                                color #DD3067
                        .highlight
                            background-color #fff
                            border 1px solid #DD3067
                            font-size 12px
                            line-height 20px
                            padding 0 5px
                    .short-reason
                        color #9d9d9d
                        text-align left
                        font-size 12px
                        position absolute
                        bottom 0px
        .sns
            position absolute
            opacity 0
            right 0
            bottom 0
            width 100%
            height 100%
            // background-color rgba(0, 0, 0, .7)
            text-align center
            .qr-preview
                position absolute
                right 22%
                bottom 10px
                width 100px
                height 100px
                padding 0
                background-color #DD7797
                display inline
                box-sizing border-box
                display none
                img
                    position relative
                    width 90%
                    height 90%
                    margin 5%
            .toolbar
                position absolute
                bottom 0
                right 0
                width 600px * 0.2
                height 70px
                margin 0
                padding 0
                background-color transparent
                display inline
                color #fff
                box-sizing border-box
                line-height 35px
                font-size 16px
                cursor pointer
                .open-hui-site
                    position: relative
                    bottom -50%
                    width 100%
                    height 35px
                    background-color #A2B5D4
                    box-sizing border-box
                    display inline-block
                    transition bottom 150ms linear
                    &.hovering
                        bottom: 0%
                .see-outside
                    display none
                    position: relative;
                    width 20%
                    height 35px
                    background-color #A2B5D4
                    box-sizing border-box
                    transition left 150ms linear
                    &.hovering
                        left 0%
                    .icon
                        cursor pointer
                        vertical-align -2px
                .see-detail
                    position: absolute;
                    right 0
                    bottom 0
                    width 100%
                    height 35px
                    background-color #86A4D5
                    box-sizing border-box
                    display inline-block
                    cursor pointer
                    .icon
                        display none
                        cursor -webkit-zoom-in
                        vertical-align -2px
                        margin-right 5px

.pull-left
    text-align left
.pull-right
    text-align right
.loading-tips
    position relative
    width 100%
    .loading-more, .loading-retry
        text-align center
        color #CAC9C9
        margin 20px 0
        font-size 14px
        height 40px
    &.loading
        .loading-more
            display block
        .loading-retry
            display none
    &.failed
        .loading-more
            display none
        .loading-retry
            display block
            span
                padding: 0 2px
            .tip
                padding: 5px 0
                color: #CAC9C9
