@charset "UTF-8";

@font-face {
  font-family: "sd-icons";
  src:url("fonts/sd-icons.eot");
  src:url("fonts/sd-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/sd-icons.woff") format("woff"),
    url("fonts/sd-icons.ttf") format("truetype"),
    url("fonts/sd-icons.svg#sd-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sd-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sd-icon-"]:before,
[class*=" sd-icon-"]:before {
  font-family: "sd-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sd-icon-money:before {
  content: "\61";
}
.sd-icon-jpy:before {
  content: "\62";
}
.sd-icon-comment:before {
  content: "\63";
}
.sd-icon-qrcode:before {
  content: "\64";
}
.sd-icon-speaker:before {
  content: "\65";
}
.sd-icon-cutlery:before {
  content: "\66";
}
.sd-icon-chrome:before {
  content: "\67";
}
.sd-icon-baidu:before {
  content: "\68";
}
.sd-icon-thumbs-o-up:before {
  content: "\69";
}
.sd-icon-thumbs-o-down:before {
  content: "\6a";
}
.sd-icon-bubble-comment-streamline-talk:before {
  content: "\6b";
}
.sd-icon-commenting-o:before {
  content: "\6c";
}
.sd-icon-heart-o:before {
  content: "\6d";
}
.sd-icon-up-open-big:before {
  content: "\6f";
}
.sd-icon-right-open-big:before {
  content: "\70";
}
.sd-icon-left-open-big:before {
  content: "\71";
}
.sd-icon-down-open-big:before {
  content: "\72";
}
.sd-icon-angle-down:before {
  content: "\6e";
}
.sd-icon-angle-left:before {
  content: "\73";
}
.sd-icon-angle-right:before {
  content: "\74";
}
.sd-icon-angle-up:before {
  content: "\75";
}
.sd-icon-info:before {
  content: "\76";
}
.sd-icon-bars:before {
  content: "\77";
}
.sd-icon-menu:before {
  content: "\78";
}
.sd-icon-external-link:before {
  content: "\79";
}
.sd-icon-puzzle:before {
  content: "\7a";
}
.sd-icon-bell-o:before {
  content: "\41";
}
